<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
<ngb-alert *ngIf="failMessage" type="warning" (close)="failMessage = null">{{ failMessage }}</ngb-alert>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{poll.name}}</h5>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" sortable="name">Option</th>
        <th scope="col" sortable="votes">Votes</th>
        <th>
          <button type="button" class="btn btn-light btn-sm" (click)="open()">Add Option</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let recipient of poll.options | keyvalue">
        <td>{{recipient.key}}</td>
        <td>{{recipient.value}}</td>
        <td class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary" (click)="doVote(recipient.key)">Vote !</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


