<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add options</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="dateOfBirth">Name of option</label>
      <div class="input-group">
        <input [(ngModel)]="textValue" type="text" class="form-control" placeholder="" id="dateOfBirth" name="name">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onSave()">Save</button>
</div>
