<!-- As a heading -->
<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="./assets/vote.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Votation
    </a>
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <fa-icon [icon]="faServer"></fa-icon>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="http://localhost:8080" aria-label="http://localhost:8080"
               aria-describedby="basic-addon1" [class]="barClass" (keyup)="onServerChanged($event)"
               [(ngModel)]="serverUrl" name="serverUrl">
      </div>

      <button type="button" class="btn btn-light my-2 my-sm-0" aria-label="Refresh" (click)="onRefresh()">
        <fa-icon [icon]="faSync"></fa-icon>
      </button>
      <button type="button" class="btn btn-light my-2 my-sm-0" aria-label="Add" (click)="open(content)">
        <fa-icon [icon]="faPlusSquare"></fa-icon>
      </button>

    </form>
  </nav>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add a new poll</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Name of poll</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" id="dateOfBirth">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

  <div class="container-fluid">
    <app-list-of-polls [polls]=polls (dataChanged)="onDataChanged($event)"></app-list-of-polls>
  </div>
</div>
